<div class="container-fluid">
    <div class="px-lg-5">
  
      <!-- For demo purpose -->
      <div class="row py-5">
        <div class="col-lg-12 mx-auto">
          <div class="text-white p-5 shadow-sm rounded banner">
            <h1 class="display-4">Gallery</h1>
            <p class="lead">Some Models</p>
           
          </div>
        </div>
      </div>
      <!-- End -->

    </div>

  </div>
  
      <div class="row">
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="{{imgbasePath}}{{imgPath}}" alt="" class="img-fluid card-img-top">
           
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="{{imgbasePath}}{{imgPath1}}" alt="" class="img-fluid card-img-top">
            
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="{{imgbasePath}}{{imgPath2}}" alt="" class="img-fluid card-img-top">
          
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="{{imgbasePath}}{{imgPath3}}" alt="" class="img-fluid card-img-top">
          
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="{{imgbasePath}}{{imgPath4}}" alt="" class="img-fluid card-img-top">
           
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="{{imgbasePath}}{{imgPath5}}" alt="" class="img-fluid card-img-top">
            
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="{{imgbasePath}}{{imgPath6}}" alt="" class="img-fluid card-img-top">
           
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="{{imgbasePath}}{{imgPath7}}" alt="" class="img-fluid card-img-top">
         
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="{{imgbasePath}}{{imgPath8}}" alt="" class="img-fluid card-img-top">
           
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="{{imgbasePath}}{{imgPath9}}" alt="" class="img-fluid card-img-top">
           
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="{{imgbasePath}}{{imgPath10}}" alt="" class="img-fluid card-img-top">
            
          </div>
        </div>
        <!-- End -->
  
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="{{imgbasePath}}{{imgPath11}}" alt="" class="img-fluid card-img-top">
            
          </div>
        </div>
        <!-- End -->
  
      </div>

  <div id="silver">
    
    <div class="row">
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath13}}" alt="" class="img-fluid card-img-top">
          
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath14}}" alt="" class="img-fluid card-img-top">
          
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath15}}" alt="" class="img-fluid card-img-top">
          
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath16}}" alt="" class="img-fluid card-img-top">
          
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath17}}" alt="" class="img-fluid card-img-top">
          
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath18}}" alt="" class="img-fluid card-img-top">
         
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath19}}" alt="" class="img-fluid card-img-top">
         
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath20}}" alt="" class="img-fluid card-img-top">
         
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath21}}" alt="" class="img-fluid card-img-top">
         
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath22}}" alt="" class="img-fluid card-img-top">
         
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath23}}" alt="" class="img-fluid card-img-top">
          
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath24}}" alt="" class="img-fluid card-img-top">
         
        </div>
      </div>
      <!-- End -->
  </div>

  </div>


  <div id="diamond" class="row">
    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
      <div class="bg-white rounded shadow-sm"><img src="{{imgPath25}}" alt="" class="img-fluid card-img-top">
       
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
      <div class="bg-white rounded shadow-sm"><img src="{{imgPath26}}" alt="" class="img-fluid card-img-top">
        
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
      <div class="bg-white rounded shadow-sm"><img src="{{imgPath27}}" alt="" class="img-fluid card-img-top">
      
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
      <div class="bg-white rounded shadow-sm"><img src="{{imgPath28}}" alt="" class="img-fluid card-img-top">
       
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
      <div class="bg-white rounded shadow-sm"><img src="{{imgPath29}}" alt="" class="img-fluid card-img-top">
        
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
      <div class="bg-white rounded shadow-sm"><img src="{{imgPath30}}" alt="" class="img-fluid card-img-top">
       
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
      <div class="bg-white rounded shadow-sm"><img src="{{imgPath31}}" alt="" class="img-fluid card-img-top">
     
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
      <div class="bg-white rounded shadow-sm"><img src="{{imgPath32}}" alt="" class="img-fluid card-img-top">
       
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
      <div class="bg-white rounded shadow-sm"><img src="{{imgPath33}}" alt="" class="img-fluid card-img-top">
       
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
      <div class="bg-white rounded shadow-sm"><img src="{{imgPath34}}" alt="" class="img-fluid card-img-top">
        
      </div>
    </div>
    <!-- End -->

    <!-- Gallery item -->
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
      <div class="bg-white rounded shadow-sm"><img src="{{imgPath35}}" alt="" class="img-fluid card-img-top">
        
      </div>
    </div>
    <!-- End -->
  
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath36}}" alt="" class="img-fluid card-img-top">
          
        </div>
     
      <!-- End -->
      </div>
    
      <div>

    <div id="platinum" class="row">
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath38}}" alt="" class="img-fluid card-img-top">
         
        </div>
      </div>
      <!-- End -->
  
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath39}}" alt="" class="img-fluid card-img-top">
          
        </div>
      </div>
      <!-- End -->
  
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath40}}" alt="" class="img-fluid card-img-top">
        
        </div>
      </div>
      <!-- End -->
  
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath41}}" alt="" class="img-fluid card-img-top">
         
        </div>
      </div>
      <!-- End -->
  
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath42}}" alt="" class="img-fluid card-img-top">
          
        </div>
      </div>
      <!-- End -->
  
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath43}}" alt="" class="img-fluid card-img-top">
         
        </div>
      </div>
      <!-- End -->
  
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath44}}" alt="" class="img-fluid card-img-top">
       
        </div>
      </div>
      <!-- End -->
  
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath45}}" alt="" class="img-fluid card-img-top">
         
        </div>
      </div>
      <!-- End -->
  
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath46}}" alt="" class="img-fluid card-img-top">
         
        </div>
      </div>
      <!-- End -->
  
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath47}}" alt="" class="img-fluid card-img-top">
          
        </div>
      </div>
      <!-- End -->
  
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{imgPath48}}" alt="" class="img-fluid card-img-top">
          
        </div>
      </div>
      <!-- End -->
    
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="{{imgPath49}}" alt="" class="img-fluid card-img-top">
            
          </div>
        </div>
       
        <!-- End -->
      
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img src="{{imgPath50}}" alt="" class="img-fluid card-img-top">
            
          </div>
      </div>
    </div>


